{% extends '_base.html' %}
{% block content %}
    <section class="blog-posts-area section-gap">
        <div class="container">
            <div class="row">
                <h2 class="title"><b>Frequently Asked Questions</b></h2>
                <hr>
            </div>
            <br>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#seeker">Seeker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#company">Company</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="accordino">

                <div id="company" class="container tab-pane active"><br>
                        {% for f in cfaqs %}
                            <div class="card-header"  data-toggle="collapse" href="#{{ f.id }}">{{ f.id }}<b>{{ f.question }}</b></div>
                            <p id="{{ f.id }}" class="collapse card-body" data-parent="#accordino'">{{ f.answer }}</p>
                        {% endfor %}
                    </div>

                    <div id="seeker" class="container tab-pane active"><br>
                        {% for faq in sfaqs %}
                            <div class="card-header" data-toggle="collapse" href="#{{ faq.id }}">{{ faq.id }}<b>{{ faq.question }}</b></div>
                            <p  id="{{ faq.id }}" class="collapse card-body" data-parent="#accordino">{{ faq.answer }}</p>
                        {% endfor %}
                    </div>



                </div>
            </div>
        </div>
    </section>

{% endblock %}