{% extends '_base.html' %}
{% load thumbnail %}
{% block content %}



    <!-- start banner Area -->
    <section class="banner-area relative" id="home">

        <div class=" overlay overlay-bg"></div>
        {#                            <div id="particles-js"><canvas class="particles-js-canvas-el" width="1409" height="319" style="width: 100%; height: 100%;"></canvas></div>#}

        <div class="container">

            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-12">
                    <h1 class="text-white">
                        <span>1500+</span> Jobs posted last week
                    </h1>
                    {% include 'partials/search.html' %}
                    <p class="text-white"><span>Search by tags:</span> Tecnology, Business, Consulting, IT Company,
                        Design,
                        Development</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start features Area -->
    <section class="features-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Searching</h4>
                        <p>
                            Search the jobs on the basis of job title, location and job type.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Applying</h4>
                        <p>
                            Simple and easy to apply for job. You are a bit away just click on the apply for applying.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Security</h4>
                        <p>
                            We are not sharing your private data to public. Agree with our privacy policy.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Notifications</h4>
                        <p>
                            We will notify you whenever new job posted as per your interest and all detail on applied
                            jobs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End features Area -->

    <!-- Start popular-post Area -->
    <section class="popular-post-area pt-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="active-popular-post-carusel">
                    {% for l_job in latest_jobs %}
                        <div class="single-popular-post d-flex flex-row">
                            <div class="thumb">
                                {% thumbnail l_job.company.company_image "80x120" as im %}
                                    <img class="rounded" src="{{ im.url }}" width="{{ im.width }}"
                                         height="{{ im.height }}">
                                {% endthumbnail %}
                                {#                                <a class="btns text-uppercase" href="">view job post</a>#}
                            </div>
                            <div class="details">
                                <a href="{% url 'home:single_job_detail' l_job %}"><h4>{{ l_job.title }}</h4></a>
                                <h6>{{ l_job.company.address }}</h6>
                                <p>
                                    {{ l_job.description | truncatewords:6 }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End popular-post Area -->

    <!-- Start feature-cat Area -->
    <section class="feature-cat-area pt-100" id="category">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Featured Job Categories</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                        <a href="{% url 'blog:blog_list' %}">Blog</a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for category in categories %}
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            {#                            <a href="category.html">#}
                            {#                                <img src="img/o1.png" alt="">#}
                            {#                            </a>#}
                            <p>{{ category.category }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End feature-cat Area -->

    <!-- Start post Area -->
    <section class="post-area section-gap">
        <div class="container">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">
                    <ul class="cat-list">
                        {% for jt in jobtype %}
                            <li class="card bg-secondary"><a href="">{{ jt.job_type }}</a></li>
                        {% endfor %}


                    </ul>
                    {% for job in object_list %}
                        <div class="single-post d-flex flex-row">
                            <div class="col-3">
                                <div class="thumb">


                                    {% thumbnail job.company.company_image "130x240" as im %}
                                        <img class="rounded" src="{{ im.url }}" width="{{ im.width }}"
                                             height="{{ im.height }}">
                                    {% endthumbnail %}

                                    <ul class="tags">
                                        <li>
                                            <a href="#">{{ job.category.category }}</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="details">
                                        <div class="col-9">
                                            <div class="title d-flex flex-row justify-content-between">

                                                <div class="titles">
                                                    <a href="{% url 'home:single_job_detail' job %}"><h3>
                                                        {{ job.title }} ahfs fsf sf sf sdf sdf s fs fs dfs f sf sdf sdf sf sd fs fs dfs fs fs d</h3>
                                                    </a>
                                                    <h6>{{ job.company.company_name }}</h6>
                                                    <hr>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <form method="post">
                                                {% csrf_token %}
                                                <input class="btn-outline-secondary rounded" type="submit"
                                                       value="View Detail">
                                                <input type="hidden" name="job" value="{{ job.id }}">

                                                {% if request.user.is_authenticated %}
                                                    <input type="hidden" name="user" value="{{ request.user.id }}">
                                                {% else %}
                                                    <input type="hidden" name="user" value="">
                                                {% endif %}


                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <p class="lnr lnr-map"> Location : {{ job.company.address }}</p>
                                <p class="lnr lnr-layers"> Job Level : {{ job.job_level }}</p>
                                <p class="lnr lnr-database"> No of vacancy : {{ job.vacancy_no }}</p>
                                <p class="lnr lnr-database"> Salary : {{ job.salary }}</p>

                            </div>
                        </div>
                    {% endfor %}
                    {% include 'snippets/pagination.html' %}
                    {#                    <a class="text-uppercase loadmore-btn mx-auto d-block" href="category.html">Load More job Posts</a>#}

                </div>
                <div class="col-lg-4 sidebar">
                    {% include 'partials/sidebar.html' %}

                </div>
            </div>
        </div>
    </section>
    <!-- End post Area -->


    <!-- Start callto-action Area -->
    <section class="callto-action-area section-gap" id="join">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content col-lg-9">
                    <div class="title text-center">
                        <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
                        <p class="text-white">Don't miss your chance to have the great opportunity of getting jobs and
                            being the part of the re-known companies as an employee. Share your creative & innovative
                            idea and become the top employee.</p>
                        <a class="primary-btn" href="{% url 'custom_auth:login' %}">Already a member</a>
                        <a class="primary-btn" href="{% url 'custom_auth:register' %}">Register a member</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End calto-action Area -->

    <!-- Start download Area -->
    <section class="download-area section-gap" id="app">
        <div class="container">
            <div class="row">
                {% for company in companies %}
                    {% thumbnail company.company_image "200x500" as im %}
                        <img class="rounded-circle" src="{{ im.url }}" alt="{{ company.company_name }}">
                    {% endthumbnail %}


                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End download Area -->




{% endblock %}