{% extends '_base.html' %}
{% load thumbnail %}
{% block content %}







    <!-- Start features Area -->
    <section class="features-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Searching</h4>
                        <p>
                            Search the jobs on the basis of job title, location and job type.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Applying</h4>
                        <p>
                            Simple and easy to apply for job. You are a bit away just click on the apply for applying.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Security</h4>
                        <p>
                            We are not sharing your private data to public. Agree with our privacy policy.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Notifications</h4>
                        <p>
                            We will notify you whenever new job posted as per your interest and all detail on applied
                            jobs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End features Area -->


   {% include 'partials/job_lists.html' %}

    <!-- Start feature-cat Area -->
    <section class="feature-cat-area pt-100" id="category">
        <div class="container" style="padding-bottom: 50px">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Featured Job Categories</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for category in freq_categories %}
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="category.html">
                                <img src="img/o1.png" alt="">
                            </a>
                            <p>{{ category.category }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End feature-cat Area -->

{% endblock %}