{% extends '_base.html' %}
{% load thumbnail %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
            </div>
            <div class="col-6 mt-5 pt-30">
                {% include 'partials/search.html' %}
            </div>
        </div>
    </div>


    {% include 'partials/job_lists.html' %}

    <!-- Start feature-cat Area -->
    <section class="feature-cat-area pt-100" id="category">
        <div class="container" style="padding-bottom: 50px">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Featured Job Categories</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for category in freq_categories %}
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="{% url 'home:category_list' category %}">

                            <p>{{ category.category }}</p></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End feature-cat Area -->

{% endblock %}