{% extends '_base.html' %}
{% block content %}







    <!-- Start features Area -->
    <section class="features-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Searching</h4>
                        <p>
                            Search the jobs on the basis of job title, location and job type.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Applying</h4>
                        <p>
                            Simple and easy to apply for job. You are a bit away just click on the apply for applying.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Security</h4>
                        <p>
                            We are not sharing your private data to public. Agree with our privacy policy.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Notifications</h4>
                        <p>
                            We will notify you whenever new job posted as per your interest and all detail on applied
                            jobs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End features Area -->


    <!-- Start post Area -->
    <section class="post-area section-gap">
        <div class="container">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">
                    <ul class="cat-list">
                        <li><a href="#">Recent</a></li>
                        <li><a href="#">Full Time</a></li>
                        <li><a href="#">Intern</a></li>
                        <li><a href="#">part Time</a></li>
                    </ul>

                    {% for job in object_list %}

                        <div class="single-post d-flex flex-row">
                            <div class="thumb">
                                <img src="img/post.png" alt="">
                                <ul class="tags">
                                    <li>
                                        <a href="#">Art</a>
                                    </li>
                                    <li>
                                        <a href="#">Media</a>
                                    </li>
                                    <li>
                                        <a href="#">Design</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="details">
                                <div class="title d-flex flex-row justify-content-between">
                                    <div class="titles">
                                        <a href="{% url 'home:single_job_detail' job %}"><h4>{{ job.title }}</h4>
                                        </a>
                                        <h6>{{ job.category }}</h6>
                                    </div>
                                    <ul class="btns">
                                        <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                        <li><a href="{% url 'home:single_job_detail' job %}">View Detail</a></li>
                                    </ul>
                                </div>
                                <p>
                                    {{ job.description }}
                                </p>
                                <h5>Deadline : {{ job.deadline }}</h5>
                                <p class="address"><span class="lnr lnr-map"></span>No of vacancy : {{ job.vacancy_no }}
                                </p>
                                <p class="address"><span class="lnr lnr-database"></span>Salary : {{ job.salary }}</p>
                            </div>
                        </div>
                    {% endfor %}

                    {% include 'snippets/pagination.html' %}
                    {#                    <a class="text-uppercase loadmore-btn mx-auto d-block" href="category.html">Load More job Posts</a>#}

                </div>
                <div class="col-lg-4 sidebar">
                    {% include 'partials/sidebar.html' %}

                </div>
            </div>
        </div>
    </section>
    <!-- End post Area -->


    <!-- Start feature-cat Area -->
    <section class="feature-cat-area pt-100" id="category">
        <div class="container" style="padding-bottom: 50px">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Featured Job Categories</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for category in freq_categories %}
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="category.html">
                                <img src="img/o1.png" alt="">
                            </a>
                            <p>{{ category.category }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End feature-cat Area -->

{% endblock %}