{% extends '_base.html' %}
{% block content %}






    <!-- Start feature-cat Area -->
    <section class="feature-cat-area pt-100" id="category">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Featured Job Categories</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for category in freq_categories %}
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="category.html">
                                <img src="img/o1.png" alt="">
                            </a>
                            <p>{{ category.category }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End feature-cat Area -->


    <!-- Start post Area -->
    <section class="post-area section-gap">
        <div class="container">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">
                    <ul class="cat-list">
                        <li><a href="#">Recent</a></li>
                        <li><a href="#">Full Time</a></li>
                        <li><a href="#">Intern</a></li>
                        <li><a href="#">part Time</a></li>
                    </ul>
                    {% for category in object_list %}
                    <div class="single-post d-flex flex-row">

                        <div class="details">
                            <div class="title d-flex flex-row justify-content-between">
                                <div class="titles">
                                    <a href="single.html"><h4>{{ category.category }}</h4></a>
                                </div>

                            </div>
                            </div>
                    </div>
                    {% endfor %}

                {% include 'snippets/pagination.html' %}

{#                    <a class="text-uppercase loadmore-btn mx-auto d-block" href="category.html">Load More Category</a>#}

                </div>
                <div class="col-lg-4 sidebar">
                    {% include 'partials/sidebar.html' %}

                </div>
            </div>
        </div>
    </section>
    <!-- End post Area -->




{% endblock %}</title>
</head>
<body>

</body>
</html>