{% extends '_base.html' %}
{% load thumbnail %}
{% block content %}


    <!-- Start post Area -->
    <section class="post-area section-gap">
        <div class="row justify-content-center d-flex">

            <div class="col-lg-9 col-md-8 col-sm-7">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="row">
                            <div class="container-fluid shadow-sm p-2 mb-3 bg-light rounded">
                                {% thumbnail company.company_image "290x200" as im %}
                                    <img class="rounded" src="{{ im.url }}">
                                {% endthumbnail %}
                                <label><br><h4 class="title"><a href="">{{ company.company_name }}</a> </h4></label><br>
                                <label>{{ company.province.province_name }}, {{ company.district.district }}</label><br>
                                <label>{{ company.address }}</label><br>
                                <label>{{ company.company_type }}</label>

                            </div>
                        </div>
                        <div class="row">
                            <div class="container-fluid shadow-sm p-2 mb-3 bg-light rounded">
                                <h4>Jobs By <em class="text-dark">{{ company.company_name }}</em></h4>
                                {% for jobs in alljob %}

                                    {% if jobs.company.id  == company.id %}
                                        <li><a href="{% url 'home:single_job_detail' jobs %}">{{ jobs.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="row">
                            <div class="container-fluid shadow-sm p-3 mb-3 bg-light rounded">
                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-sm-9">
                                        <div class="titles">
                                            <a href=""><h3>{{ job.title }}</h3></a>
                                            <p><span class="fa fa-eye" style="color:green"> <span
                                                    class="text-primary"> {{ counts }} views</span></span>&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp
                                                <span class="fa fa-group" style="color:green"> <span
                                                        class="text-primary"> Become {{ applicant }}{% if applicantsplit == 0 %}<small>st</small>{% elif applicantsplit == 1 %}<small>nd</small>{% elif applicantsplit == 2 %}<small>rd</small>{% else %}<small>th</small>{% endif %}
                                                    applicant</span></span>&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp
                                                <span class="fa fa-calendar" style="color:green"> <span
                                                        class="text-primary">{% if week > 0 %}{{ week }} week{% if week > 1 %}s{% endif %} {% endif %} {% if days > 0 %}{{ days }} day{% if days > 1 %}s{% endif %}{% endif %}left</span></span></p>


                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3">
                                        <div class="btns">
                                            <form method="post"
                                                  action="{% if request.user.id == seeker.user.id %} {% url 'company:apply' %} {% endif %}">
                                                {% csrf_token %}
                                                <input name="job_title" value="{{ job.id }}" type="hidden">

                                                <button type="submit">Apply</button>

                                            </form>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <table class="ml-3">
                                        <tr>
                                            <th class="fa fa-building"> Company</th>
                                            <td>{{ job.company.company_name }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fa fa-modx"> Category</th>
                                            <td>{{ job.category.category }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fa fa-cubes"> Job type</th>
                                            <td>{{ job.job_type }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fa fa-bars"> Job Level</th>
                                            <td>{{ job.job_level }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fa fa-braille"> Experience</th>
                                            <td>{{ job.experience }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fa fa-database"> Salary</th>
                                            <td>{% if job.negotiable == True %}
                                                Negotiable
                                            {% else %}
                                                Rs. {{ job.salary }}
                                            {% endif %}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-fluid shadow-sm p-2 mb-3 bg-light rounded">
                                <div class="ml-3">
                                    <h5 class="titles">Job Description</h5>
                                    {{ job.description | linenumbers | linebreaksbr }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-fluid shadow-sm p-2 mb-3 bg-light rounded">
                                <div class="ml-3">
                                    <h5 class="titles">Requirements</h5>
                                    {{ job.job_requirement | linenumbers | linebreaksbr }}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 sidebar">
                {% include 'partials/sidebar.html' %}

            </div>
        </div>


    </section>
    <!-- End post Area -->


{% endblock %}