{% extends '_base.html' %}
{% block content %}

    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <p>Reset Password</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <section class="blog-posts-area section-gap">
        <div class="container">
            <div class="row">
                <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you
                    entered.
                    You should receive them shortly.
                </p>
                <p>
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </p>
            </div>
        </div>
    </section>
{% endblock %}