{% extends '_company_dashboard_base.html' %}
{% block company_dashboard %}

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Complete Your Profile</li>
    </ol>


    <!-- Content -->
    <div class="page-content bg-white">
        <!-- contact area -->
        <div class="content-block">
            <!-- Submit Resume -->
            <div class="section-full bg-white submit-resume content-inner-2">
                <div class="container">
                    <form method="post" id="companyForm" data-districts-url="{% url 'company:ajax_load_districts' %}" novalidate
                          enctype="multipart/form-data">
                        {% csrf_token %}
{#                                                    {{ form.as_table }}#}
                        <div class="form-group">
                            <label>Company Name*</label>
                            <input type="text" class="form-control" placeholder="Your Full Name" id="company_name"
                                   name="company_name" required>
                        </div>


                        <div class="form-group">
                            <label>Address</label>
                            <div class="row">
                                <div class="col-lg-6 col-md-5">
                                    <div class="form-group">
                                        <label>Province</label>
                                        {{ form.province }}

{#                                        <select name="province">#}
{#                                            {% for province in provinces %}#}
{#                                                <option value="{{ province.province_name }}">{{ province.province_name }}</option>#}
{#                                            {% endfor %}#}
{#                                        </select>#}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-5">
                                    <div class="form-group">
                                        <label>District</label>
                                        {{ form.district }}

{#                                        <select name="district">#}
{#                                            {% for district in districts %}#}
{#                                                <option value="{{ district.district }}">{{ district.district }}</option>#}
{#                                            {% endfor %}#}
{#                                        </select>#}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label>Place</label>
                            <input type="text" class="form-control" placeholder="Your area/city " id="address"
                                   name="address" required>
                        </div>


                        <div class="form-group">
                            <label>Type of Company*</label>
                            <input type="text" class="form-control" placeholder="Company Type" id="company_type"
                                   name="company_type" required>
                        </div>


                        <div class="form-group">
                            <label>Phone-no</label>
                            <input type="text" class="form-control"
                                   placeholder="xxxxxxxxx (enter phone no with area code)" id="phone_no"
                                   name="phone_no" pattern="[0-9]{9}" title="Enter valid mobile no">

                        </div>
                        <div class="form-group">
                            <label>Mobile-no</label>
                            <input type="text" class="form-control" placeholder="9********" id="mobile_no"
                                   name="mobile_no" pattern="^[9][0-9]{9}" title="Enter valid mobile no">
                        </div>

                        <div class="form-group">
                            <label>Registration Date</label>
                            <input type="date" class="form-control" placeholder="MM/DD/YYYY"
                                   id="company_registration_date"
                                   name="company_registration_date">
                        </div>


                        <div class="form-group">
                            <label>Company Photo</label>

                            <input type="file" class="site-button" id="company_image" name="company_image"
                                   accept="image/x-png, image/jpeg">
                        </div>


                        <input type="submit" class="site-button" value="submit">
                    </form>
                </div>
            </div>
            <!-- Submit Resume END -->
        </div>
    </div>
    <!-- Content END-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        $("#id_province").change(function () {
            var url = $("#companyForm").attr("data-districts-url");  // get the url of the `load_cities` view
            var provinceId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'province': provinceId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_district").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>


{% endblock %}
