{% extends '_company_dashboard_base.html' %}
{% block company_dashboard %}

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Job Post</li>
    </ol>

    <div class="site-wrap">



        <div class="site-section bg-light">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-lg-12">


                        <form method="post" action="{% url 'company:job_post' %}" class="p-5 bg-white">
                            {% csrf_token %}


                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname">Job Title</label>
                                    <input type="text" id="title" class="form-control"
                                           placeholder="eg. Full Stack Frontend" name="title">
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname">Category</label>
                                    <select name="cate">
                                        {% for cat in categories %}
                                            <option>{{ cat.category }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname">Job-Level</label>
                                    <input type="text" id="job_level" class="form-control"
                                           placeholder="eg. Senior" name="job_level">
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname">No of vacancy</label>
                                    <input type="number" id="vacancy_no" class="form-control"
                                           placeholder="eg. 2" name="vacancy_no">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname">Experience</label>
                                    <input type="text" id="experience" class="form-control"
                                           placeholder="eg. 2 year" name="experience">
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname">Education</label>
                                    <select name="ed">
                                        {% for e in education %}
                                            <option>
                                                {{ e.education }}
                                            </option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname">Salary</label>
                                    <input type="number" id="salary" class="form-control"
                                           placeholder="eg. $3000000" name="salary">
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-12"><label class="font-weight-bold" for="fullname">Job
                                    Description</label></div>
                                <div class="col-md-12 mb-3 mb-md-0">
                                <textarea name="description" class="form-control" id="description" cols="30"
                                          rows="5"></textarea>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname">Deadline</label>
                                    <input type="date" id="deadline" class="form-control"
                                           placeholder="eg. 01-22-1999" name="deadline">
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Post" class="btn btn-primary  py-2 px-5">
                                </div>
                            </div>


                        </form>
                    </div>



                </div>
            </div>
        </div>


    </div>



{% endblock %}



