{% extends '_company_dashboard_base.html' %}
{% block company_dashboard %}


     <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Job List</li>
        </ol>

<!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">26 New Messages!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">11 New Tasks!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">123 New Orders!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">13 New Tickets!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th style="text-align: center">Job Title</th>
                        <th style="text-align: center">Job Level</th>
                        <th style="text-align: center">No of vacancy</th>
                        <th style="text-align: center">Published Date</th>
                        <th style="text-align: center">Deadline</th>
                        <th colspan="2" style="text-align: center">Menu</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for job in joblists %}
                        <tr>
                            <td>{{ job.title }}</td>
                            <td>{{ job.job_level }}</td>
                            <td>{{ job.vacancy_no }}</td>
                            <td>{{ job.pub_date }}</td>
                            <td>{{ job.deadline }}</td>
                            <td><a href="{% url 'company:job_post_update' job %}"><input type="submit" name="edit" value="Edit"></a></td>
                            <td><a data-toggle="modal" data-target="#myModal"><input type="submit" name="delete" value="Delete"></a></td>
                        </tr>

                        <!-- Delete Popup Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title" style="alignment: left">
                                            Delete {{ job.title }}</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                    </div>
                                    <div class="modal-body">


                                        <p>Are you sure you want to delete "{{ job.title }}"?</p>

                                        <div class="modal-footer">
                                            <form method="post" action="{% url 'company:job_post_delete' job %}">
                                                {% csrf_token %}
                                                <input type="submit" class="btn btn-default" value="Yes">
                                            </form>
                                            <input type="submit" class="btn btn-default" data-dismiss="modal"
                                                   value="No">

                                        </div>

                                    </div>


                                </div>

                            </div>
                        </div>
                        <!-- End popup modal -->
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>







{% endblock %}