
body {
    font-family: 'Roboto';font-size: 16px;
}

.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #f5a17a;
}
.aboutus-title::after {
    background: #c87902 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: rgba(114, 233, 191, 0.78);
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

a:hover, a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}
/*.aboutus-more {*/
/*    border: 1px solid #fdb801;*/
/*    border-radius: 25px;*/
/*    color: #fdb801;*/
/*    display: inline-block;*/
/*    font-size: 14px;*/
/*    font-weight: 700;*/
/*    letter-spacing: 0;*/
/*    padding: 7px 20px;*/
/*    text-transform: uppercase;*/
/*}*/
.feature .feature-box .iconset {
    /*background: #fff none repeat scroll 0 0;*/
    float: left;
    position: relative;
    width: 18%;
}
.feature .feature-box .iconset::after {
    /*background: #fdb801 none repeat scroll 0 0;*/
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #c23c0c;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #a7fc42;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    color : #b1e220;
    padding:0px;
    font-size:40px;
    border: 1px solid #baac84;
    border-radius: 100px;
    color: #e16d14;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

.aboutus-banner img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 64%;
    opacity: 0.4;
}