{% extends '_job_seeker_dashboard_base_2.html' %}
{% block seeker_content %}
    <div class="page-content bg-white">
        <div class="content-block">
            <!-- Submit Resume -->
            <div class="section-full bg-white submit-resume content-inner-2">
                <div class="container">
                    <form method="post" action="" id="seekerForm" data-districts-url="{% url 'job_seeker:ajax_load_districts' %}" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Full name</label>
                            <input type="text" class="form-control" placeholder="Your Full Name" id="name" name="name"
                                   required>
                        </div>

                        <div class="form-group">
                            <label>Address</label>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Province</label>
                                        {{ form.province }}

                                        {#                                        <select name="province">#}
                                        {#                                            {% for province in provinces %}#}
                                        {#                                                <option value="{{ province.province_name }}">{{ province.province_name }}</option>#}
                                        {#                                            {% endfor %}#}
                                        {#                                        </select>#}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>District</label>
                                        {{ form.district }}
{#                                        <select name="district">#}
{#                                            {% for district in districts %}#}
{#                                                <option value="{{ district.district }}">{{ district.district }}</option>#}
{#                                            {% endfor %}#}
{#                                        </select>#}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label>Place</label>
                            <input type="text" class="form-control" placeholder="Your area/city" id="address"
                                   name="address" required>
                        </div>


                        <div class="form-group">
                            <label>Date of Birth</label>
                            <input type="date" class="form-control" placeholder="01-30-1999" id="date_of_birth"
                                   name="date_of_birth" required>
                        </div>

                        <div class="form-group">
                            <label>Gender</label>

                            <select name="gend">
                                {% for gender in genders %}
                                    <option value="{{ gender.gender }}">{{ gender.gender }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Phone No</label>
                            <input type="text" class="form-control"
                                   placeholder="xxxxxxxxx (enter phone no with area code)" id="phone_no"
                                   name="phone_no" pattern="[0-9]{9}" title="Enter valid mobile no">
                        </div>

                        <div class="form-group">
                            <label>Mobile No</label>
                            <input type="text" class="form-control" placeholder="98xxxxxxxx" id="mobile_no"
                                   name="mobile_no" pattern="^[9][0-9]{9}" title="Enter valid mobile no">
                        </div>

                        <div class="form-group">
                            <label>Education</label>

                            <select name="educ">
                                {% for edu in education %}
                                    <option value="{{ edu.education }}">{{ edu.education }}</option>
                                {% endfor %}
                            </select>
                        </div>


                        <div class="form-group">
                            <label>Resume / CV</label>

                            <input type="file" class="site-button" id="resume" name="resume" accept="application/pdf"
                                   required>
                        </div>

                        <div class="form-group">
                            <label>Profile Photo</label>
                            <input type="file" class="site-button" id="image" name="image"
                                   accept="image/x-png, image/jpeg" required>
                        </div>


                        <input type="submit" class="site-button" value="submit">
                    </form>
                </div>
            </div>
            <!-- Submit Resume END -->
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        $("#id_province").change(function () {
            var url = $("#seekerForm").attr("data-districts-url");  // get the url of the `load_cities` view
            var provinceId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'province': provinceId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_district").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>

{% endblock %}