{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/jk_icon.jpg' %}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Jagir Khulyo</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143932049-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-143932049-1');
    </script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/particle_animation.css' %}">
    {#        <link rel="stylesheet" href="{% static 'css/flipping_gallery.css' %}">#}

</head>
<body>

<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <b href="{% url 'home:index' %}"><img src="{% static 'img/jk_icon.jpg' %}" alt="" title="" height="30px"
                                                      width="30px"/><b>&nbsp <font color="#e9967a">Jagir
                    Khulyo</font></b></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">

                    <li class="menu-active"><a href="{% url 'home:index' %}">Home</a></li>
                    {% if request.user.is_authenticated and request.user.role == 'job_seeker' %}
                        <li class="menu-has-children"><a href="">Job Seeker</a>
                            <ul>
                                <li><a href="{% url 'home:job_list' %}">Browse Jobs</a></li>
                                <li><a href="{% url 'home:category_list' %}">Browse Categories</a></li>

                            </ul>
                        </li>
                        <li><a href="{% url 'blog:blog_list' %}">Blog</a></li>
                        <li><a href="{% url 'cms:about_us' %}">About Us</a></li>
                        <li><a href="{% url 'cms:contact_us' %}">Contact</a></li>

{#                        <li>#}
{#                            {% thumbnail request.user.image "40x40" as im %}#}
{#                                <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}"#}
{#                                     height="{{ im.height }}">#}
{#                            {% endthumbnail %}#}
{#                        </li>#}
                        <li><a href="{% url 'job_seeker:seeker_dashboard_index' %}">Account</a></li>

                        <li><a href="{% url 'custom_auth:logout' %}">Logout</a></li>
                    {% elif request.user.is_authenticated and request.user.role == 'company' %}
                        <li class="menu-has-children"><a href="">Company</a>
                            <ul>
                                <li><a href="{% url 'company:job_post' %}">Post Job</a></li>

                            </ul>
                        </li>
                        <li><a href="{% url 'blog:blog_list' %}">Blog</a></li>
                        <li><a href="{% url 'cms:about_us' %}">About Us</a></li>
                        <li><a href="{% url 'cms:contact_us' %}">Contact</a></li>
                        <li>
                            {% thumbnail request.user.company_image "40x40" as im %}
                                <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}"
                                     height="{{ im.height }}">
                            {% endthumbnail %}
                        </li>
                        <li><a href="{% url 'company:company_dashboard_index' %}">Account</a></li>
                        <li><a href="{% url 'custom_auth:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'blog:blog_list' %}">Blog</a></li>
                        <li><a href="{% url 'cms:about_us' %}">About Us</a></li>
                        <li><a href="{% url 'cms:contact_us' %}">Contact</a></li>
                        <li><a href="{% url 'custom_auth:register' %}">Signup</a></li>
                        <li><a href="{% url 'custom_auth:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->

{% block content %}
{% endblock %}

<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-12">
                <div class="single-footer-widget">
                    <h6><u>Job Seeker</u></h6>
                    <ul class="footer-nav">
                        <li><a href="{% url 'custom_auth:register' %}">Register</a></li>
                        <li><a href="{% url 'custom_auth:login' %}">Login</a></li>
                        <li><a href="{% url 'home:index' %}">Search Job</a></li>
                        <li>
                            <a href="{% if request.user.role == 'job_seeker' %} {% url 'home:job_list' %} {% else %} {% url 'home:error_page' %} {% endif %}">Apply
                                Job</a></li>
                        <li><a href="{% url 'home:faq' %}">FAQ</a></li>


                    </ul>
                </div>
            </div>
            <div class="col-lg-3  col-md-12">
                <div class="single-footer-widget">
                    <h6><u>Company</u></h6>
                    <ul class="footer-nav">
                        <li><a href="{% url 'custom_auth:register' %}">Register</a></li>
                        <li><a href="{% url 'custom_auth:login' %}">Login</a></li>
                        <li>
                            <a href="{% if request.user.role == 'company' %} {% url 'company:job_post' %} {% else %} {% url 'home:error_page' %} {% endif %}">Post
                                Job</a></li>
                        <li>
                            <a href="{% if request.user.role == 'company' %} {% url 'company:apply' %} {% else %} {% url 'home:error_page' %} {% endif %}">Applied
                                Job</a>
                        </li>
                        <li><a href="{% url 'home:faq' %}">FAQ</a></li>


                    </ul>
                </div>
            </div>
            <hr>
            <div class="col-lg-6  col-md-12">
                <div class="single-footer-widget newsletter">
                    <h6><u>Newsletter</u></h6>
                    <p>You can trust us. we only send updated job post as per your interest not a single spam.</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" novalidate="true"
                              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                              method="get" class="form-inline">

                            <div class="form-group row" style="width: 100%">
                                <div class="col-lg-8 col-md-12">
                                    <input name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                               type="text">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12">
                                    <button class="nw-btn primary-btn">Subscribe<span
                                            class="lnr lnr-arrow-right"></span></button>
                                </div>
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | Developed by <a href="https://www.sunrosetech.com" target="_blank">SunRose Tech
                Pvt Ltd</a>
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-stack-overflow"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-quora"></i></a>


            </div>
        </div>
    </div>
</footer>

<!-- End footer Area -->

<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="{% static 'js/easing.min.js' %}"></script>
<script src="{% static 'js/hoverIntent.js' %}"></script>
<script src="{% static 'js/superfish.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/particle_animation.js' %}"></script>
{#<script src="{% static 'js/jquery.flipping_gallery.js' %}"></script>#}


</body>
</html>



